<div class="cache"></div>
<div id="ab">
	<div class="header_ab">
		<h1>MUSIC ROOM PRIME</h1>
	</div>
	<div class="body_ab">
		<br>
		<p>
			Profiter d'avantages sur music room :
			<br>
			<br>
			La musique en mode hors ligne<br><br>
			Des emoiji dans le tchat (et une surprise)
			<br><br>
			Pour seulement <font color="de6a50">10,00€/mois</font>
			<br>
			<br>
			<button class="btn btn-primary" id="abonnement_on">ESSAYER</button>
			<button class="btn btn-primary" id="abonnement_off">NON, MERCI</button>
		</p>
	</div>
</div>