<div class="cache_room" id="room_new_add">
	<div class="form_room">
		<font color="red" id="room_created_error"></font>
		<div class="form-group">
		    <label for="room_name">Nom de la room</label>
		    <input type="text" class="form-control" id="room_name" placeholder="Nom de la room">
		</div>
		<div class="form-group">
		    <label for="room_type">Type de room</label>
		    <select class="form-control" id="room_type">
		        <option>public</option>
		        <option>prive</option>
		    </select>
		</div>
		<div class="form-group">
		    <label for="room_music">Musique de depart</label>
		    <input type="text" class="form-control" id="room_music" placeholder="musique de la room">
		</div>
		<div class="form-group">
		    <div class="input-group mb-3">
		      <div class="custom-file">
		        <input type="file" class="custom-file-input" id="room_image">
		        <label class="custom-file-label" for="room_image">Choose file</label>
		    </div>
		</div>
		<button class="btn btn-primary" id="create_new_room">Creer</button>
		<button class="btn btn-primary" id="stop_room_form">Annuler</button>
	</div>
</div>